* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(51, 51, 51);
}

button {}

path,
i,
svg {
    pointer-events: none;
}

.colors {
    min-height: 80vh;
    display: flex;
    columns: white;
}

.color {
    height: 80vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.colors h2 {
    font-size: 2rem;
    cursor: pointer;
}

.sliders {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    background: rgb(240, 230, 230);
    padding: 1rem;
    width: 80%;
    opacity: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    /* We are adding an adjustment class */
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.sliders.active {
    opacity: 1;
    transition: translateY(0px);
    pointer-events: all;
}

.sliders button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: none;
    cursor: pointer;
    background: rgb(73, 73, 73);
    font-weight: bold;
    color: white
}

.control {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.panel button {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgb(31, 33, 63);
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    color: white;
}

.panel p {
    font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adjust,
.lock {
    font-size: 2rem;
    border: none;
    background: none;
    color: rgb(184, 73, 73);
    cursor: pointer;
    margin: 2rem 0rem;
}